.game-board {
  display: grid;
  width: 850px;
  height: 900px;
  margin: auto;
  margin-top: 10px;
  color: white;
}

.tile {
  border-style: solid;
}

.finish {
  border-style: solid;
  text-align: center;
}

.obstacle{
  border-style: solid;
  text-align: center;
}

.car{
  border-style: solid;
  text-align: center;
}