.entry-title {
    text-align: center;
}

.main_page{
    background-image: url(../../images/luikiKart_logo.jpeg);
    background-size: 112%;
    background-repeat: no-repeat;

}

h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  